<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the desserts index</h1>
    <ul>
    <% desserts.forEach((dessert) => { %>
        <li>
            <a href="/desserts/<%= dessert._id %>"><p><%= dessert.name %></p></a>
        </li>
    <%})%>
    </ul>
    <a href="/desserts/new">Add Dessert</a>
</body>
</html>